//header

.toolbar-background{
  background-color: #333;
  color: #fff;
}

.toolbar-title-md{
  color: #fff;
}

//content background

.content {
  background: #000;
}

//list items

.list-md, .item {
  background-color: #333 !important; //dark grey
  color: #fff; //white
}

//card

.card-content, .card-title{
  background: #333 !important;
  color: #fff;
}

.button {
  background-color:  #f26818 !important;
  color: #fff !important;
}
